
body{
    overflow-y: hidden;
}

main{
    overflow-y: hidden;
    background-image: url('../../assets/upload_doggy.jpg');
    background-size: cover;
    background-attachment: scroll;
    //height: 45em;
   // padding-top: 2rem;
   // padding-bottom: 4rem;
   min-height: calc(100vh);
   //padding-top: 1.3rem;
   padding-bottom: 1rem;
   padding-top: clamp(7rem, 2%, 19rem) !important;
}
 
.card{
    background-color: rgba(255,255,255,0.95);
   // animation: iSeeYou 10s infinite;
   // animation-timing-function: ease-in-out;
}

.not-available
{
    opacity: .45;
    pointer-events: none;
    //cursor: no-drop;
}


textarea {
    resize: none;
}

.card.type{
    min-height: 17.7rem;
}

.password-validation-wrapper {
    position: absolute;
    margin-left: .1rem;
    padding-top: .2rem;
    font-size: .75rem;

    &.valid span {
        color: rgb(0, 184, 40) !important;
    }

    &.invalid span {
        color: red !important;
    }
}

.password-input-eye-icon  {
    position: absolute;
    right: 1.5rem;
    top: .2rem;
    font-size: 1rem;

    &:hover:not(.icon-disabled) {
        cursor: pointer;
    }

    &.icon-disabled {
        opacity: .5;        
    }
}

@keyframes iSeeYou
{
    0%{background-color: rgba(255,255,255,0.95);}
    49%{background-color: rgba(255,255,255,0.95);}
    50%{ background-color: rgba(255,255,255,0.5);}
    51%{ background-color: rgba(255,255,255,0.95);}
    52%{ background-color: rgba(255,255,255,0.5);}
    53%{ background-color: rgba(255,255,255,0.95);}
    100%{ background-color: rgba(255,255,255,0.95);}
}

@media only screen and (max-width: 676px)
{
    .with_password{
        padding-bottom: 1rem;
        padding-right: 1.25rem;
    }
}

@media only screen and (max-width: 356px)
{
    .card-header.media_type
    {
        padding-left: .8rem;
        padding-right: .8rem;
    }

    .pure_text, .some_file
    {
        font-size: .85rem;
        padding: .35rem;
    }

}