
main{
    background-image: url('../../assets/upload_doggy.jpg');
    background-size: cover;
    background-attachment: scroll;
    //height: 45em;
   // padding-top: 2rem;
   // padding-bottom: 4rem;
   min-height: calc(100vh - 6rem);
   padding-top: 1.3rem;
   padding-bottom: 2rem;
}

.card{
    background-color: rgba(255,255,255,0.95);
   // animation: iSeeYou 10s infinite;
   // animation-timing-function: ease-in-out;
}

.not-available
{
    opacity: .45;
    pointer-events: none;
    //cursor: no-drop;
}

textarea {
    resize: none;
}

.card.type{
    min-height: 17.7rem;
}

@keyframes iSeeYou
{
    0%{background-color: rgba(255,255,255,0.95);}
    49%{background-color: rgba(255,255,255,0.95);}
    50%{ background-color: rgba(255,255,255,0.5);}
    51%{ background-color: rgba(255,255,255,0.95);}
    52%{ background-color: rgba(255,255,255,0.5);}
    53%{ background-color: rgba(255,255,255,0.95);}
    100%{ background-color: rgba(255,255,255,0.95);}
}