

body{
    //background-image: url("../../assets/dogy.jpg");
    background-color: rgba(152,33,12,0.6);
    //height: 100vh;
    //overflow-y: hidden;
}

.container
{
    position: absolute;
    max-width: 100vw;
    
    //height: calc(100vh - 4rem);
    background-image: url("../../assets/dogy.jpg");
    min-height: calc(100vh - 6rem);
    background-repeat: no-repeat; 
    background-size: cover; 
    opacity: .94;
    background-color: rgba(192, 192, 192, 1);
    padding-bottom: 20vh;
    padding-top: 20vh;

}

.row
{
    opacity: .9;
}
.card{
    opacity: .96;
    position: relative;
    -webkit-box-shadow: 10px 10px 37px -14px rgba(0,0,0,0.75);
    -moz-box-shadow: 10px 10px 37px -14px rgba(0,0,0,0.75);
    box-shadow: 10px 10px 37px -14px rgba(0,0,0,0.75);

}
.card-body{
    //max-height: 50rem;
    //min-height: 60vh;
    //overflow-y: scroll;

}

.card-text{
    font-size: 1.2rem;
}


@media only screen and (max-width: 500px)
{
    .card{
        width: 100% !important;
    
        .card-body{
            padding-left: .13rem;
            padding-right: .13rem;
        }

    }

    

}