

<div class="container p-4">
  <form class="p-4 mr-2 ml-2 mt-4 w-75 mx-auto">

    <div class="row">
      <div class="col-md-12">
        <h1>Register</h1>
        <hr>
      </div>
    </div>

    <div class="row py-4">
      <div class="col-md-4">
        <input type="text" class="form-control" placeholder="Name">
      </div>
      <div class="col-md-4">
        <input type="text" class="form-control" placeholder="Surname">
      </div>
      <div class="col-md-4">
        <input type="text" class="form-control" placeholder="Something else">
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <hr>
      </div>
    </div>

    <div class="row py-4">
      <div class="col-md-4">
        <input type="text" class="form-control" placeholder="Login">
      </div>
      <div class="col-md-4">
        <input type="password" class="form-control" placeholder="Password">
      </div>
      <div class="col-md-4">
        <input type="password" class="form-control" placeholder="Repeat Password">
      </div>
    </div>

    <div class="d-flex flex-row justify-content-center mt-4 pt-2">
      <div class="col-md-4 text-center pt-2">
        <button class="btn btn-warning w-50">Register, fella!</button>
      </div>
    </div>



  </form>

</div>