

<div class="container p-4">
  <form class="p-4 mr-2 ml-2 mt-4 w-75 mx-auto">

    <div class="row">
      <div class="col-md-12">
        <h1>Register</h1>
        <hr>
      </div>
    </div>

    <div class="row py-4">
      <div class="col-md-4">
        <label for="name">Name</label>
        <input type="text" class="form-control" placeholder="Name" name="name">
      </div>
      <div class="col-md-4">
        <label for="surname">Surname</label>
        <input type="text" class="form-control" placeholder="Surname" name="surname">
      </div>
      <div class="col-md-4">
        <label for="pesel">Pesel</label>
        <input type="text" class="form-control" placeholder="Something else" name="pesel">
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <hr>
      </div>
    </div>

    <div class="row py-4">
      <div class="col-md-4">
        <label for="login">Pesel</label>
        <input type="text" class="form-control" placeholder="Login" name="login">
      </div>
      <div class="col-md-4">
        <label for="password">Password</label>
        <input type="password" class="form-control" placeholder="Password" name="password">
      </div>
      <div class="col-md-4">
        <label for="repeatPassword">Repeat Password</label>
        <input type="password" class="form-control" placeholder="Repeat Password" name="repeatPassword">
      </div>
    </div>

    <div class="d-flex flex-row justify-content-center mt-4 pt-2">
      <div class="col-md-4 text-center pt-2">
        <button class="btn btn-warning w-50">Register, fella!</button>
      </div>
    </div>



  </form>

</div>